{{> navbar navWallet}}

<div id="walletPage">
  <div id="walletHeader">
    <h1>{{newWallet.walletName}}</h1>
    {{#if username}}
    <h1>Shared Wallet with {{username.username}}</h1>
    {{/if}}
  </div>

  <div id="walletTopics">
    <div class="chart">
      <h3>Pie Chart of Spendings</h3>
      <canvas id="myChart" width="200" height="200"></canvas>
    </div>
    <div class="chart">
      <h3>Bar Chart of current status</h3>
      <canvas id="myChartTwo" width="200" height="200"></canvas>
    </div>
  </div>

  <div id="walletDetails">
    <form method="POST" action="/{{newWallet._id}}" id="newMovement">
    <div class="movementInput">
      <label for="movement">New Movement</label>
      <select id="movement" name="kind" class="movementInputField">
        <option value="Income">Income</option>
        <option value="Spending">Spending</option>
        <option value="Saving">Saving</option>
        <option value="Saving Spending">Saving Spending</option>
      </select>
    </div>

    <div class="movementInput">
      <label for="category">Category</label>
      <select id="category" name="category" class="movementInputField">
        <option value="Income">Income</option>
        <option value="Saving">Saving</option>
        <option value="Transportation">Transportation</option>
        <option value="Food">Food</option>
        <option value="Pet">Pet</option>
        <option value="Leisure">Leisure</option>
        <option value="Present">Present</option>
        <option value="Other">Other</option>
      </select>
    </div>

    <div class="movementInput">
      <label>Date</label>
      <input type="date" name="date" placeholder="Add the date" class="movementInputField"/>
    </div>

    <div class="movementInput">
      <label>Amount</label>
      <input type="number" name="amount" placeholder="Add the amount" step="0.01" class="movementInputField"/>
    </div>

      <button class="createNewMovementBtn">Create new movement</button>
    {{#if error}}
      <p class="error">Message: {{error}}</p>
    {{/if}}

    </form>

<div id="walletTableDiv">
      <table id="walletTable">
      <tr>
        <th>Movement</th>
        <th>Category</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Currency</th>
      </tr>

      {{#if newWallet.monthlyIncome}}
        <tr>
          <td>Monthly Income</td>
          <td>Monthly Income</td>
          <td>01/{{newDate}}</td>
          <td>{{newWallet.monthlyIncome}}</td>
          <td>{{newWallet.currency}}</td>
        </tr>
      {{/if}}

      {{#if newWallet.monthlySpending}}
        <tr>
          <td>Monthly Spending</td>
          <td>Monthly Spending</td>
          <td>01/{{newDate}}</td>
          <td>{{newWallet.monthlySpending}}</td>
          <td>{{newWallet.currency}}</td>
        </tr>
      {{/if}}
    
      {{#each response}}
        <tr class="{{this._id}}">
          <td class="update kind">{{this.kind}}</td>
          <td class="update category">{{this.category}}</td>
          <td class="update date">{{this.formattedDate}}</td>
          <td class="update amount">{{this.formattedAmount}}</td>
          <td>{{this.wallet.currency}}</td>
          <td><form action="/movement/{{this._id}}/delete" method="POST" class="minus"><input type="image" src="/images/minus-symbol.png" name="submit" width="15" class="minus"></form></td>
        </tr>
      {{/each}}
    </table>
    </div>
  </div>

  <div id="balance">
    <h4>Balance: {{balance}}</h4>
    <h4>Savings: {{saving}}</h4>
  </div>


  <div id="walletBtns">
    <form action="/{{newWallet._id}}/edit" method="GET">
      <button>Edit Wallet</button>
    </form>

    <form action="/{{newWallet._id}}/filter" method="GET">
      <button>Filter History</button>
    </form>

    <button class="delete firstDelete">Delete</button>

    <div class="confirmDeleting" id="walletDeleting">
      <div class="walletDeletingH">
        <h5>Are you sure you want to delete this wallet?</h5>
      </div>
      <form action="/{{newWallet._id}}/delete" method="POST">
        <button class="delete">Delete</button>
     </form>
     <button class="cancel">Cancel</button>
    </div>

  </div>

</div>

<script src="/js/walletView.js"></script>

<script>
const ctx = document.getElementById('myChart').getContext('2d');
const ctxTwo = document.getElementById('myChartTwo').getContext('2d');

    const myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: {{{chartLabels}}},
            datasets: [{
                label: 'Spendings',
                data: {{{chartData}}},
                 backgroundColor: [
                    '#99122d',
                    '#00613e',
                    '#99c0b2',
                    '#cc8996',
                    '#a9a9a9',
                    '#d4d4d4'
                ],
                hoverOffset: 1
            }]
        },
        options: {
          responsive: true, 
          maintainAspectRatio: false,
          aspectRatio: 1
        }
    });

    const myChartTwo = new Chart(ctxTwo, {
        type: 'bar',
        data: {
            labels: {{{chartLabelsTwo}}},
            datasets: [{
                label: 'Current status',
                data: {{{chartDataTwo}}},
                fill: false,
                backgroundColor: [
                  '#99c0b2',
                  '#cc8996',
                ],
                  borderColor: [
                  '#00613e',
                  '#99122d',
                ],
                borderWidth: 1
            }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
      });
</script>