{{> navbar navWallet}}

 <div id="walletHeader">
    <h1>{{newWallet.walletName}}</h1>
    {{#if username}}
        <h1>Shared Wallet with {{username}}</h1>
    {{/if}}
</div>

{{#if error}}
    <p class="error">Message: {{error}}</p>
{{/if}}

<div id="walletFilterForm">
    <form action="/{{newWallet._id}}/filter" method="POST" id="walletFilter">
    <div id="categoryFilter">
        <p>Category</p>
        <div id="walletFilterCategory">
            <div class="categoryInput">
                <input type="checkbox" id="income" name="income">
                <label for="income">Income</label>
            </div>

            <div class="categoryInput">
                <input type="checkbox" id="spending" name="spending">
                <label for="spending">Spending</label>
            </div>

            <div class="categoryInput">
                <input type="checkbox" id="saving" name="saving">
                <label for="saving">Saving</label>
            </div>

             <div class="categoryInput">
                <input type="checkbox" id="savingSpending" name="savingSpending">
                <label for="savingSpending">Saving Spending</label>
            </div>

            <div class="categoryInput">
                <input type="checkbox" id="transportation" name="transportation">
                <label for="transportation">Transportation</label>
            </div>

            <div class="categoryInput">
                <input type="checkbox" id="food" name="food">
                <label for="food">Food</label>
            </div>

            <div class="categoryInput">
                <input type="checkbox" id="pet" name="pet">
                <label for="pet">Pet</label>
            </div>

            <div class="categoryInput">
                <input type="checkbox" id="leisure" name="leisure">
                <label for="leisure">Leisure</label>
            </div>

            <div class="categoryInput">
                <input type="checkbox" id="present" name="present">
                <label for="present">Present</label>
            </div>

            <div class="categoryInput">
                <input type="checkbox" id="other" name="other">
                <label for="other">Other</label>
            </div>
        </div>
    </div>

    <div id="date">
        <p>Date</p>

        <div>
            <label for="startingDate" class="labeling">Starting Date</label>
            <input
            type="date"
            name="startingDate"
            id="startingDate"
            class="walletInputField"
            />
            <br>
            <label for="endingDate" class="labeling">Ending Date</label>
             <input
            type="date"
            name="endingDate"
            id="endingDate"
            class="walletInputField"
            />
        </div>
    </div>

    <div id="amount">
        <p>Amount</p>

        <div>
            <label for="startingAmount" class="labeling">Starting Amount</label>
            <input
            type="number"
            name="startingAmount"
            id="startingAmount"
            class="walletInputField"
            step="0.01"
            />
            <br>
            <label for="endingAmout" class="labeling">Ending Amount</label>
             <input
            type="number"
            name="endingAmount"
            id="endingAmount"
            class="walletInputField"
            step="0.01"
            />
        </div>
    </div>

    <button id="submitBtn">Submit</button>
    
    </form>
</div>

    <div id="walletFilterTableDiv">
        <table id="walletTable">
            <tr>
                <th>Movement</th>
                <th>Category</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Currency</th>
            </tr>
            
            {{#each response}}
                <tr class="{{this._id}}">
                    <td class="update kind">{{this.kind}}</td>
                    <td class="update category">{{this.category}}</td>
                    <td class="update date">{{this.formattedDate}}</td>
                    <td class="update amount">{{this.formattedAmount}}</td>
                    <td>{{this.wallet.currency}}</td>
                </tr>
            {{/each}}
        </table>
     </div>

     <form action="/{{newWallet._id}}" method="GET" class="walletBtnsClass">
      <button id="backToWallet">Back to the Wallet</button>
    </form>