{{> navbar}}

<div class="profilePic"> 
<figure class="figure">
  <img src="images/sloth.png" class="figure-img img-fluid rounded" alt="The user's profile pic">
  <figcaption class="figure-caption">Looking good! </figcaption>
</figure>
</div>

<div class="profileHi">
<p>Hi {{myUserInfo.username}}!<br>
It's good to see you again!
</p>
</div>

<div class="profileList">
<ul>
    <li>User: {{myUserInfo.username}}</li>
    <li>User since: {{myUserInfo.createdAt}}</li>
    {{#if myUserInfo.firstName}}
         <li>Fullname: {{myUserInfo.firstName}} {{myUserInfo.lastName}}</li>
    {{/if}}
    <li>Email: {{myUserInfo.email}}</li>
    <li>Animal level: {{myUserInfo.animalUrl}}</li>
    <li>User since: {{myUserInfo.createdAt}}</li>
</ul>
</div>


<div class="containerProfile">
{{#each response}}
  <div class="card" style="width: 10rem;">
    <img src="/images/wallet.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <p class="card-text">{{this.walletName}}</p>
      <form action="/{{this._id}}" method="GET"><button>Go To</button></form>
    </div>
  </div>
{{/each}}

<div class="card" style="width: 10rem;">
  <img src="/images/shakehands.png" class="card-img-top" alt="...">
  <div class="card-body">
    <form action="/{{this._id}}" method="GET"><button>Go To Shared Wallet</button></form>
  </div>
</div>

<div class="card" style="width: 10rem;">
  <img src="images/plus.png" class="card-img-top" alt="plus symbol">
  <form action="/create" method="GET">
  <button class="create"> ADD NEW WALLET</button> </form>
</div>
</div>