{{> navbar}}



<div class="settingsPic">
<figure class="figure">
  <img src="/images/giraffe.png" class="figure-img img-fluid rounded" alt="The user's profile pic">
  <figcaption class="figure-caption">Tap to change me! </figcaption>
</figure>
</div> 

<div class="animalFacts">
<p>
  <h2>Fun animal Fact! </h2>
  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br> 
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <br>
  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br> 
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore <br>
  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, <br>
  sunt in culpa qui officia deserunt mollit anim id est laborum."
</p>
</div>

<div class="settingsIntro"> 
<p> {{myUserInfo.username}} you can change your personal info here: 
</p>
</div>


<div class="changeInfo"> 
<form action="/profile/settings" method="POST">
<ul>
  <li><label>Name</label>  <br>
  <input name="username" type="text"  placeholder="Enter your username" value="{{response.username}}" size="30"></li> 

  <li><label>First name</label>  <br>
  <input name="firstName" type="text"  placeholder="Enter your First name" value="{{response.firstName}}" size="30"></li>

  <li><label>Last name</label>  <br>
  <input name="lastName" type="text"  placeholder="Enter your Last name" value="{{response.lastName}}" size="30" ></li>

  <li><label>Email</label>  <br>
  <input name="email" type="email"  placeholder="Enter your email" value="{{response.email}}" size="30"></li>

  <label>Password</label>  <br>
  <input name="password" type="password"  placeholder="Enter your Password" size="30"></li>

  <li><label> New Password</label>  <br>
  <input name=" newPassword" type="password"  placeholder="Enter your Password" size="30"></li>
  <br>
  <button>Submit</button>
</ul>
</form>
</div>

<div class="settingsDelete">
<form action="/profile/delete" method="POST">
  <button class="delete">Delete</button>
</form>

</div>