{{> navbar response}}

<div class="settingsPic" id="mainPic">
<img src="{{user.animalUrl}}" class="figure-img img-fluid rounded" alt="The user's profile pic">
  <figcaption class="figure-caption">Click on the animals to change me! </figcaption>
</div>

<div class="settingsIntro">
  <p>
    Welcome {{myUserInfo.username}}, you can change your personal info here:
  </p>
</div>

<form action="/profile/settings" method="POST">
<div class="animalInput">
            <label>
              <input type="radio" name="animalUrl" value="/images/bear.png" id="bear"
              {{#if user.bearChecked}}
              checked
              {{/if}}/>
              <img src="/images/bear.png" width="35" />
            </label>
            <label>
              <input type="radio" name="animalUrl" value="/images/cow.png" id="cow"
              {{#if user.cowChecked}}
              checked
              {{/if}}/>
              <img src="/images/cow.png" width="35" />
            </label>
            <label>
              <input
                type="radio"
                name="animalUrl"
                value="/images/crocodile.png"
                id="crocodile"
                {{#if user.crocodileChecked}}
                checked
                {{/if}}
              />
              <img src="/images/crocodile.png" width="35" />
            </label>
            <label>
              <input type="radio" name="animalUrl" value="/images/dog.png" id="dog"
              {{#if user.dogChecked}}
              checked
              {{/if}}/>
              <img src="/images/dog.png" width="35" />
            </label>
            <label>
              <input type="radio" name="animalUrl" value="/images/duck.png" id="duck"
              {{#if user.duckChecked}}
              checked
              {{/if}}/>
              <img src="/images/duck.png" width="35" />
            </label>
            <label>
              <input
                type="radio"
                name="animalUrl"
                value="/images/elephant.png"
                id="elephant"
                {{#if user.elephantChecked}}
                checked
                {{/if}}
              />
              <img src="/images/elephant.png" width="35" />
            </label>
            <label>
              <input type="radio" name="animalUrl" value="/images/monkey.png" id="monkey"
              {{#if user.monkeyChecked}}
              checked
              {{/if}}/>
              <img src="/images/monkey.png" width="35" />
            </label>
            <label>
              <input
                type="radio"
                name="animalUrl"
                value="/images/narwhale.png"
                id="narwhale"
                {{#if user.narwhaleChecked}}
                checked
                {{/if}}
              />
              <img src="/images/narwhale.png" width="35" />
            </label>
            <label>
              <input type="radio" name="animalUrl" value="/images/owl.png" id="owl"
              {{#if user.owlChecked}}
              checked
              {{/if}}/>
              <img src="/images/owl.png" width="35" />
            </label>
            <label>
              <input type="radio" name="animalUrl" value="/images/panda.png" id="panda"
              {{#if user.pandaChecked}}
              checked
              {{/if}}/>
              <img src="/images/panda.png" width="35" />
            </label>
            <label>
              <input type="radio" name="animalUrl" value="/images/parrot.png" id="parrot"
              {{#if user.parrotChecked}}
              checked
              {{/if}}/>
              <img src="/images/parrot.png" width="35" />
            </label>
            <label>
              <input
                type="radio"
                name="animalUrl"
                value="/images/penguin.png"
                id="penguin"
                {{#if user.penguinChecked}}
                checked
                {{/if}}
              />
              <img src="/images/penguin.png" width="35" />
            </label>
            <label>
              <input type="radio" name="animalUrl" value="/images/pig.png" id="pig"
              {{#if user.pigChecked}}
              checked
              {{/if}}/>
              <img src="/images/pig.png" width="35" />
            </label>
            <label>
              <input type="radio" name="animalUrl" value="/images/walrus.png" id="walrus"
              {{#if user.walrusChecked}}
              checked
              {{/if}}/>
              <img src="/images/walrus.png" width="35" />
            </label>
            <label>
              <input type="radio" name="animalUrl" value="/images/whale.png" id="whale"
              {{#if user.whaleChecked}}
              checked
              {{/if}}/>
              <img src="/images/whale.png" width="35" />
            </label>
            <label>
              <input type="radio" name="animalUrl" value="/images/zebra.png" id="zebra"
              {{#if user.zebraChecked}}
              checked
              {{/if}}/>
              <img src="/images/zebra.png" width="35" />
            </label>
          </div>

          <div class="animalFacts" id="animalText">
  <h2>Fun animal Fact!</h2>
  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br>
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <br>
  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br>
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore <br>
  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, <br>
  sunt in culpa qui officia deserunt mollit anim id est laborum."
</p>
</div>
<div class="changeInfo">
<ul>
  <li><label>Name</label>  <br>
  <input name="username" type="text"  placeholder="Enter your username" value="{{user.username}}" size="30"></li>
  <li><label>First name</label>  <br>
  <input name="firstName" type="text"  placeholder="Enter your First name" value="{{user.firstName}}" size="30"></li>
  <li><label>Last name</label>  <br>
  <input name="lastName" type="text"  placeholder="Enter your Last name" value="{{user.lastName}}" size="30" ></li>
  <li><label>Email</label>  <br>
  <input name="email" type="email"  placeholder="Enter your email" value="{{user.email}}" size="30"></li>
  <label>Password</label>  <br>
  <input name="password" type="password"  placeholder="Enter your Password" size="30"></li>
  <li><label> New Password</label>  <br>
  <input name=" newPassword" type="password"  placeholder="Enter your Password" size="30"></li>
  <br>
  <button>Submit</button>
</ul>
</form>
</div>

<div class="settingsDelete">
<button class="delete firstDelete">Delete</button>
  <div class="confirmDeleting">
      <p>Are you sure you want to delete your account?</p>
      <form action="/profile/delete" method="POST">
        <button class="delete">Delete</button>
     </form>
     <button class="cancel">Cancel</button>
    </div>  
</div>

{{#if error}}
   <p class="error">Message: {{error}}</p>
{{/if}}

<script src="/js/facts.js"></script>
